.profileImg {
    @apply rounded-full object-fill;
    max-height: 400px;
}

.footerLink {
    @apply text-blue-400;
}

.btnLink {
    @apply py-1 px-4 bg-blue-500 text-white font-heading rounded-lg text-2xl hover:bg-blue-600 focus:outline-none transition-colors;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 3;
    border-radius: .25rem;
    text-decoration: none;
    color: #fff;
}

.platformLink {
    @apply py-1 px-4 mx-2 bg-purple-600 rounded-lg text-xl hover:bg-purple-800 focus:outline-none transition-colors;
}